body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
h2 {
  font-size: 32px;
  font-weight: bold;
  color: black;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}
p {
  font-size: 14px;
}
ul {
   list-style:none;
   padding: 0;
}
.header {
  color: white;
  background-image: url("../images/the-flatiron-building.png");
}
.header a {
  padding-top: 25px;
  color: white;
  list-style-type: none;
}
